*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 20vh;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    font-size: 45px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    border-bottom: 3px solid #3F51B5 ;
}

h1{
    text-shadow: 2px 2px 2px 2px #3F51B5;
}

header img{
    width: 150px;
    height: 150px;
}

nav{
    display: flex;
    margin: 1rem;
    text-align: center;
    gap: 4rem;
    justify-content: center;
    padding-bottom: 1rem;
    width: 100%;
    border-bottom: 3px solid #3F51B5;
}

nav a{
    padding: 0.5rem;
    text-decoration: none;
    border-bottom: 1px solid #3F51B5;
    border-radius: 6px;
    box-shadow: 1px 1px 1px 1px #3f51b5cf;
    color: black;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main{
    background-image: url(../assets/fondo.webp);
    background-size: cover;
    
}

.main-section{
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 2rem;

}

.card img{
    width: 200px;
    height: 150px;
}

.card{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    background-color: rgb(197, 195, 230);
}


footer{
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

fieldset{
    padding: 18px;
}

